# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

scripts/*.csv
scripts/apple-music/*.csv
scripts/apple-music/*.json
scripts/apple-music/*.txt
scripts/distances/*.json
scripts/features/*.csv
scripts/graph-output/*.gdf
scripts/features/*.gdf
scripts/features/*.json
scripts/features/*.gephi
scripts/*.gdf
scripts/*.json
scripts/*.json
scripts/features/*.tsv

# dependencies
node_modules/

package-lock.json
.env
data-old

# Expo
.expo/
dist/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

expo-env.d.ts
app-example
